# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AR_Solar.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\UNITY\Unity Projects\AR_Solar\.idea\.idea.AR_Solar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
